<template>
  <panel title="Songs">
      <v-btn
        slot="action"
        class="cyan darken-2"
        @click="navigateTo({ name: 'songs-register' })"
        medium
        right
        dark
        middle
        fixed
        fab
      ><v-icon>mdi-plus-thick</v-icon>
      </v-btn>
    <div
      v-for="song in songs"
      class="song"
      :key="song.id"
    >
      <v-layout>
        <v-flex xs6>
          <div class="song-title">
            {{ song.title }}
          </div>
          <div class="song-artist">
            {{ song.artist }}
          </div>
          <div class="song-album">
            {{ song.genre }}
          </div>
          <v-btn
            color="primary"
            class="mr-4"
            :to="{ name: 'song', params: {songId: song.id} }"
            dark
          >
            View
          </v-btn>
        </v-flex>
        <v-flex xs6>
          <img class="album-image" :src="song.albumImageUrl">
        </v-flex>
      </v-layout>
    </div>
  </panel>
</template>

<script>
import Panel from '@/components/global/Panel.vue'
import api from '@/services/api'

export default {
  name: 'Songs',
  data () {
    return {
      songs: []
    }
  },
  watch: {
    '$route.query.search': {
      immediate: true,
      async handler (value) {
        this.songs = (await api.getAllSongs(value)).data
      }
    }
  },
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    }
  },
  components: {
    Panel
  }
}
</script>

<style scoped>
.song {
  padding: 20px;
  height: 330px;
  overflow: hidden;
}

.song-title {
  font-size: 30px;
}

.song-artist {
  font-size: 24px;
}

.song-album {
  font-size: 18px;
}

.album-image {
  width: 70%;
  margin: 0%;
}
</style>
