<template>
  <div>
    <v-layout>
      <v-flex xs6>
        <!--SONG METADATA -->
        <song-metadata :song="song"/>
      </v-flex>
        <!-- -->
      <v-flex xs6 class="ml-2">
        <!-- VIDEO -->
        <you-tube  :youtubeID="song.youtubeID"/>
      </v-flex>
    </v-layout>

    <v-layout class="mt-2">
      <v-flex xs6>
        <!-- LYRICS METADATA -->
        <lyrics :lyrics="song.lyrics"/>
      </v-flex>
        <!-- -->
      <v-flex xs6 class="ml-2">
        <tabs :tabs="song.tab" />
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
// import Panel from '../Panel.vue'
import api from '@/services/api'
import SongMetadata from '@/components/viewSong/SongMetadata.vue'
import YouTube from '@/components/viewSong/YouTube.vue'
import Lyrics from '@/components/viewSong/Lyrics.vue'
import Tabs from '@/components/viewSong/Tabs.vue'

export default {
  name: 'view-song',
  data () {
    return {
      song: {}
    }
  },
  components: {
    SongMetadata,
    YouTube,
    Lyrics,
    Tabs
  },
  async mounted () {
    const songId = this.$store.state.route.params.songId
    this.song = (await api.viewSong(songId)).data
  }
}
</script>

<style scoped>

</style>
