<template>
  <div>
    <panel title="Song Metadata">
        <v-layout>
          <v-flex xs6>
            <div class="song-title">
              {{ song.title }}
            </div>
            <div class="song-artist">
              {{ song.artist }}
            </div>
            <div class="song-album">
              {{ song.genre }}
            </div>
            <br>
            <v-btn
              class="light-green accent-4"
             :to="{
                name: 'song-edit',
                params () {
                  return {
                    songId: song.id
                  }
                }
              }"
              dark
            >
              Edit
            </v-btn>
            <v-btn
              class="ml-2 red darken-3"
              dark
            >
              Delete
            </v-btn>
          </v-flex>
          <v-flex xs6>
            <img class="album-image" :src="song.albumImageUrl">
            <br>
            {{ song.album}}
        </v-flex>
      </v-layout>
    </panel>
  </div>
</template>

<script>

export default {
  props: [
    'song'
  ],
  methods: {
    navigateToEdit (route) {
      this.$router.push(route)
    }
  }
}
</script>

<style scoped>
.song {
  padding: 20px;
  height: 330px;
  overflow: hidden;
}

.song-title {
  font-size: 30px;
}

.song-artist {
  font-size: 24px;
}

.song-album {
  font-size: 18px;
}

.album-image {
  width: 70%;
  margin: 0%;
}
</style>
