<template>
    <!-- YOU TUBE VIDEO -->
    <panel title="YouTube Video">
      <youtube
        :video-id="youtubeID"
        :player-width="500"
        :player-height="240"
      ></youtube>
    </panel>
</template>

<script>

export default {
  props: [
    'youtubeID'
  ]
}
</script>

<style scoped>

</style>
