<template>
    <v-card flat>
        <v-toolbar fixed class="cyan darken-2" dark>
            <v-toolbar-title class="mr-6">
                <router-link
                    tag="span"
                    class="home"
                    :to="{name: 'index'}"
                >TabTracker
                </router-link>
            </v-toolbar-title>
            <!--  -->
            <v-toolbar-items>
                <v-btn
                    class="cyan darken-2"
                    :to="{name: 'songs'}"
                    elevation
                >Browser
                </v-btn>
            </v-toolbar-items>
            <v-spacer></v-spacer>
            <v-toolbar-items>
                <v-btn
                    v-if="!isLoggedIn"
                    class="cyan darken-2"
                    :to="{name: 'register'}"
                    elevation
                >Sing Up
                </v-btn>
                <!--  -->
                <v-btn
                    v-if="!isLoggedIn"
                    class="cyan darken-2"
                    :to="{name: 'login'}"
                    elevation
                >Login
                </v-btn>
                <!--  -->
                <v-btn
                    v-if="isLoggedIn"
                    class="cyan darken-2"
                    @click="logoutUser()"
                    elevation
                >Logout
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
    </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  methods: {
    async logoutUser () {
      await this.logout
      this.$router.push({ name: 'index' })
    }
  },
  computed: {
    ...mapGetters(['isLoggedIn']),
    ...mapActions(['logout'])
  }
}
</script>

<style scoped>
.home {
    cursor: pointer;
}

.home:hover {
    color: #e9e;
}

</style>
