<template>
  <v-layout>
    <v-flex>
      <panel title="Login">
          <form name="tab-tracker-form" autocomplete="off">
            <v-text-field
            v-model="email"
            label="E-mail"
            type="email"
            required
            ></v-text-field>

            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              @keyup.enter="access()"
              required
              autocomplete="new-password"
            ></v-text-field>

            <v-btn
              color="primary"
              class="mr-4"
              @click="access()"
              dark
            >
              Login
            </v-btn>
          </form>
      </panel>
        <div class="danger-alert" v-html="error"></div>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      title: 'Login Page',
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    ...mapActions(['login']),
    async access () {
      try {
        this.login({
          email: this.email,
          password: this.password
        }).then(res => {
          if (res.data.success) {
            // this.$router.push('/')
            this.error = res.data.msg
            this.$router.push({ name: 'songs' })
          }
        }).catch(error => {
          this.error = error.response.data.error
        })
      } catch (error) {
        this.error = error.response.data.error
      }
    },
    clear () {
      this.email = ''
      this.password = ''
    }
  }
}
</script>

<style scoped>

</style>
