<template>
    <v-layout>
        <v-flex xs4>
            <panel title="Songs Metadata">
                <v-text-field
                    v-model="song.title"
                    label="Title"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
                <v-text-field
                    v-model="song.artist"
                    label="Artist"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
                <v-text-field
                    v-model="song.genre"
                    label="Genre"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
                <v-text-field
                    v-model="song.album"
                    label="Album"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
                <v-text-field
                    v-model="song.albumImageUrl"
                    label="Album Image Url"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
                <v-text-field
                    v-model="song.youtubeID"
                    label="You Tube ID"
                    required
                    :rules="[rules.required]"
                    type="text"
                ></v-text-field>
            </panel>
        </v-flex>
        <v-flex xs8>
            <panel title="Songs Structure" class="ml-4">
                <v-text-field
                    v-model="song.tab"
                    label="Tab"
                    required
                    :rules="[rules.required]"
                    type="text"
                    multi-line
                ></v-text-field>
                <v-text-field
                    v-model="song.lyrics"
                    label="Lyrics"
                    required
                    :rules="[rules.required]"
                    type="text"
                    multi-line
                ></v-text-field>
            </panel>
            <!-- ERROR ALERT -->
            <div class="danger-alert" v-if="error">{{ error }}</div>
            <!--  -->
            <v-btn
              color="primary"
              class="mr-4"
              @click="create()"
              dark
            >
              Create
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
import api from '../services/api'
import Panel from '@/components/global/Panel.vue'

export default {
  data () {
    return {
      error: null,
      song: {
        title: null,
        artist: null,
        genre: null,
        album: null,
        lyrics: null,
        tab: null,
        albumImageUrl: null,
        youtubeID: null
      },
      rules: {
        required: (value) => !!value || 'Required!'
      }
    }
  },
  components: {
    Panel
  },
  methods: {
    async create () {
      this.error = null
      const areAllFieldsFilledIn = Object
        .keys(this.song)
        .every(key => !!this.song[key])
      if (!areAllFieldsFilledIn) {
        this.error = 'Please fill in all the required fields!'
        return
      }
      try {
        await api.registerSongs(this.song)
        this.$router.push({ name: 'songs' })
      } catch (error) {
        console.log(error)
        this.error = error.response.data.error
      }
    }
  }
}
</script>

<style scoped>
</style>
