<template>
  <v-layout>
    <v-flex>
      <panel title="Register">
          <form name="tab-tracker-form" autocomplete="off">
            <v-text-field
              v-model="email"
              label="E-mail"
              type="email"
              required
            ></v-text-field>

            <v-text-field
              v-model="password"
              label="Password"
              type="password"
              required
              autocomplete="new-password"
              @keyup.enter="register()"
            ></v-text-field>

            <v-btn
              color="primary"
              class="mr-4"
              @click="register()"
              dark
            >
              Register
            </v-btn>
          </form>
        </panel>
      <div class="danger-alert" v-html="error"></div>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import api from '../services/api'

export default {
  name: 'Register',
  data () {
    return {
      title: 'Register Page',
      email: '',
      password: '',
      error: null
    }
  },
  methods: {
    async register () {
      try {
        const res = await api.registerUser({
          email: this.email,
          password: this.password
        })
        this.error = res.data.msg
      } catch (error) {
        this.error = error.response.data.error
      }
    },
    clear () {
      this.email = ''
      this.password = ''
    }
  }
}
</script>

<style scoped>

</style>
